<!DOCTYPE html>
<html>
  <head>
    <title>Jiggler</title>
    <style>
      <%= styles %>
    </style>
  </head>
  <body>
    <h1>Jiggler</h1>
    <div id='content'>

      <div class='stats-block'>
        <div class='stats-entry' title='Jobs to be retried'>
          <span><%= "To Retry: #{@summary['retry_jobs_count']}" %></span>
        </div>
        <div class='stats-entry' title='Jobs with delayed enqueuing'>
          <span><%= "Scheduled: #{@summary['scheduled_jobs_count']}" %></span>
        </div>
        <div class='stats-entry' title='Completely failed jobs'>
          <span><%= "Dead: #{@summary['dead_jobs_count']}" %></span>
        </div>
        <% if @summary['monitor_enabled'] %>
          <div class='stats-entry' title='Unsuccessful perform attempts'>
            <span><%= "Failures: #{@summary['failures_count']}" %></span>
          </div>
          <div class='stats-entry' title='Successfully completed jobs'>
            <span><%= "Processed: #{@summary['processed_count']}" %></span>
          </div>
        <% end %>
      </div>

      <table class='main-table processes'>
        <thead>
          <tr>
            <th colspan='5' title='Process'>
              <span>Process</span>
            </th>
            <th colspan='1' title='PID'>
              <span>PID</span>
            </th>
            <th colspan='2' title='Concurrency'>
              <span>Concurrency</span>
            </th>
            <th colspan='2' title='RSS'>
              <span>RSS</span>
            </th>
            <th colspan='2' title='Started'>
              <span>Started</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @summary['processes'].each do |uuid, data| %>
            <tr>
              <td colspan='5' title='Process'>
                <span><%= "#{uuid}:#{data['hostname']}" %></span>
                <%= stats_badge(data['stats_enabled']) %>
                <%= poller_badge(data['poller_enabled']) %>
                </br>
                <span><i><%= data['queues'] %></i></span>
              </td>
              <td colspan='1' title='PID' class='right'>
                <span><%= data['pid'] %></span>
              </td>
              <td colspan='2' title='Concurrency' class='right'>
                <span><%= data['concurrency'] %></span>
              </td>
              <td colspan='2' title='RSS' class='right'>
                <span><%= format_memory(data['rss']) %></span>
              </td>
              <td colspan='2' title='Started' class='right'>
                <span><%= format_datetime(data['started_at']) %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <table class='main-table queues'>
        <thead>
          <tr>
            <th colspan='6' title='Queue'>
              <span>Queues</span>
            </th>
            <th colspan='6' title='Size'>
              <span>Size</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @summary['queues'].each do |queue| %>
            <tr>
              <td colspan='6' title='Queue'>
                <span><i><%= queue[0] %></i></span>
              </td>
              <td colspan='6' title='Size' class='right'>
                <span><%= queue[1] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <% if @summary['monitor_enabled'] %>
        <h3>Busy Jobs</h3>
        <table class='main-table jobs'>
          <thead>
            <tr>
              <th colspan='2' title='Process'>
                <span>Process</span>
              </th>
              <th colspan='2' title='Job'>
                <span>Job</span>
              </th>
              <th colspan='1' title='JID'>
                <span>JID</span>
              </th>
              <th colspan='1' title='TID'>
                <span>TID</span>
              </th>
              <th colspan='2' title='Queue'>
                <span>Queue</span>
              </th>
              <th colspan='2' title='Arguments'>
                <span>Arguments</span>
              </th>
              <th colspan='2' title='Started'>
                <span>Started</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @summary['processes'].each do |uuid, process_data| %>
              <% process_data['current_jobs'].each do |tid, job_data| %>
                <tr>
                  <td colspan='2' title='Process'>
                    <span><%= "#{uuid}:#{process_data['hostname']}" %></span></br>
                  </td>
                  <td colspan='2' title='Job'>
                    <span><%= job_data['job_args']['name'] %></span>
                  </td>
                  <td colspan='1' title='JID'>
                    <span><%= job_data['jid'] %></span>
                  </td>
                  <td colspan='1' title='TID'>
                    <span><%= tid %></span>
                  </td>
                  <td colspan='2' title='Queue'>
                    <span><%= job_data['queue'] %></span>
                  </td>
                  <td colspan='2' title='Arguments'>
                    <span><%= job_data['job_args']['args'] %></span>
                  </td>
                  <td colspan='2' title='Started'>
                    <span><%= format_datetime(job_data['started_at']) %></span>
                  </td>     
                </tr>           
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
      
      <% if @summary['retry_jobs_count'] > 0 %>
        <h3>Last 5 Jobs to Retry</h3>
        <table class='main-table retry_jobs'>
          <thead>
            <tr>
              <th colspan='1' title='Job'>
                <span>Job</span>
              </th>
              <th colspan='1' title='JID'>
                <span>JID</span>
              </th>
              <th colspan='1' title='Queue'>
                <span>Queue</span>
              </th>
              <th colspan='1' title='Error'>
                <span>Error</span>
              </th>
              <th colspan='2' title='Args'>
                <span>Args</span>
              </th>
              <th colspan='1' title='Attempt'>
                <span>Attempt</span>
              </th>
              <th colspan='1' title='Started'>
                <span>Started</span>
              </th>
              <th colspan='1' title='Retried'>
                <span>Retried</span>
              </th>
              <th colspan='1' title='To Retry At'>
                <span>To Retry At</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% last_5_retry_jobs.each do |data| %>
              <tr>
                <td colspan='1' title='Job'>
                  <span><%= data['name'] %></span>
                </td>
                <td colspan='1' title='JID'>
                  <span><%= data['jid'] %></span>
                </td>
                <td colspan='1' title='Queue'>
                  <span><%= data['queue'] %></span>
                </td>
                <td colspan='1' title='Error'>
                  <span><%= "#{data['error_class']}: #{data['error_message']}" %></span>
                </td>
                <td colspan='2' title='Args'>
                  <span><%= data['args'] %></span>
                </td>
                <td colspan='1' title='Attempt' class='right'>
                  <span><%= data['attempt'] %></span>
                </td>
                <td colspan='1' title='Started' class='right'>
                  <span><%= format_datetime(data['started_at']) %></span>
                </td>
                <td colspan='1' title='Retried' class='right'>
                  <span><%= format_datetime(data['retried_at']) %></span>
                </td>
                <td colspan='1' title='To Retry At' class='right'>
                  <span><%= format_datetime(data['retry_at']) %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @summary['scheduled_jobs_count'] > 0 %>
        <h3>Last 5 Scheduled Jobs</h3>
        <table class='main-table retry_jobs'>
          <thead>
            <tr>
              <th colspan='4' title='Job'>
                <span>Job</span>
              </th>
              <th colspan='6' title='Args'>
                <span>Args</span>
              </th>
              <th colspan='2' title='Scheduled At'>
                <span>Scheduled At</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% last_5_scheduled_jobs.each do |data| %>
              <tr>
                <td colspan='4' title='Job'>
                  <span><%= data['name'] %></span>
                </td>
                <td colspan='6' title='Args'>
                  <span><%= data['args'] %></span>
                </td>
                <td colspan='2' title='Scheduled At' class='right'>
                  <span><%= format_datetime(data['scheduled_at']) %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>

      <% if @summary['dead_jobs_count'] > 0 %>
        <h3>Last 5 Dead Jobs</h3>
        <table class='main-table dead_jobs'>
          <thead>
            <tr>
              <th colspan='2' title='Job'>
                <span>Job</span>
              </th>
              <th colspan='1' title='JID'>
                <span>JID</span>
              </th>
              <th colspan='1' title='Queue'>
                <span>Queue</span>
              </th>
              <th colspan='2' title='Error'>
                <span>Error</span>
              </th>
              <th colspan='2' title='Args'>
                <span>Args</span>
              </th>
              <th colspan='1' title='Started'>
                <span>Started</span>
              </th>
              <th colspan='1' title='Retried'>
                <span>Retried</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% last_5_dead_jobs.each do |data| %>
              <tr>
                <td colspan='2' title='Job'>
                  <span><%= data['name'] %></span>
                </td>
                <td colspan='1' title='JID'>
                  <span><%= data['jid'] %></span>
                </td>
                <td colspan='1' title='Queue'>
                  <span><%= data['queue'] %></span>
                </td>
                <td colspan='2' title='Error'>
                  <span><%= "#{data['error_class']}: #{data['error_message']}" %></span>
                </td>
                <td colspan='2' title='Args'>
                  <span><%= data['args'] %></span>
                </td>
                <td colspan='1' title='Started' class='right'>
                  <span><%= format_datetime(data['started_at']) %></span>
                </td>
                <td colspan='1' title='Retried' class='right'>
                  <span><%= format_datetime(data['retried_at']) %></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </body>
</html>
